<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnchorzUp</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <form action="" method="POST">
      <label for="fullUrl">Url</label>
      <input type="url" name="fullUrl" id="fullUrl" />
      <button type="submit">Shorten URL</button>
    </form>
  </body>
</html>
